:root {
  /* COLORS */
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue: hsl(236, 33%, 92%); /*(hover)*/
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.125rem;
  font-weight: 400;
  min-height: 100vh;
  color: var(--Light-Grayish-Blue);
  background-color: var(--Very-Dark-Blue);
}

h1,
h2,
p {
  margin: 0;
}

img,
picture {
  max-width: 100%;
}

button,
input {
  font-weight: inherit;
}

button {
  color: var(--Dark-Grayish-Blue);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:hover {
  color: var(--Light-Grayish-Blue);
}

main {
  padding: 1rem;
  margin-top: -170px;
  max-width: 700px;
  margin-inline: auto;
}

/* HEADER */

header {
  background-image: url('./assets/images/bg-mobile-dark.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.todo-item-container {
  display: flex;
  align-items: center;
  background-color: var(--Very-Dark-Desaturated-Blue);
  padding: .5rem 1rem;
  border-radius: 8px;
  gap: 1rem;
}

.new-todo-container {
  margin: 1.5rem 0;
}

.todo-item-container input {
  outline: none;
  border: none;
  background-color: transparent;
  flex-grow: 1;
  font-size: 1.125rem;
  color: var(--Light-Grayish-Blue);
}

.todo-item-container input::placeholder {
  font-size: 1.125rem;
}

.check-container {
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid var(--Very-Dark-Grayish-Blue);
  cursor: pointer;
}

.check-container:hover {
  border-color: hsl(192, 100%, 67%);
  transition: 200ms;
}

.cross-icon:hover {
  transform: scale(.90);
  transition: 100ms;  
}

.todo-item {
  border-bottom: 1px solid var(--Dark-Grayish-Blue);
}

.todo-item.complete {
  text-decoration: line-through;
}

.todo-item.complete .check-container {
  background-image: linear-gradient( hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  display: grid;
  place-items: center;
}

.cross-icon {
  margin-left: auto;
  cursor: pointer;
}

/* BUTTON FUNCTIONALITIES */

.bottom-functionalities {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Very-Dark-Desaturated-Blue);
  padding: .5rem 1rem;
  border-radius: 8px;
  flex-wrap: wrap;
  gap: 1rem;

  position: relative;

}

.filter-buttons {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 2rem;
  order: 3;
  grid-column: 1 / span 2;
  flex-grow: 1;

}

.button-selected {
  color: var(--Bright-Blue);
}

/* .todo-item-container {
  display: flex;
  align-items: center;
  background-color: var(--Very-Dark-Desaturated-Blue);
  padding: .5rem 1rem;
  border-radius: 8px;
  gap: 1rem;
} */

